                
                              /*********************CSS_CONFIGURATION*********************/
                                  /*********************CSS_CONFIGURATION********
                                  blanc1: #BDBDBD 
                                  blanc2: #A4A4A4 
                                  rouge: #9C0202 
                                  noir2: #181818
                                  noir1: #101012*************/

/*******************POLICE_SELECTION************************/ 

/****************MEDIA QUERIES SETTINGS*********************/   /* 1> #Id 2>.class*/                       

/**********************SECTION******************************/ 


header  {
margin-right : 1em;	
margin-bottom: 5%;
border-bottom: 2.5px double #181818;
border-image: linear-gradient(to right, #A4A4A4, #9C0202);
border-image-slice: 1;
}

footer  { 
margin-top: 5%;
border-top: 2.5 double transparent;
border-image: linear-gradient(to bottom, #A4A4A4,#181818 );
border-image-slice: 1;}

body {
margin: 5% ;
background: radial-gradient(ellipse farthest-corner,
#424242, #181818 30%, #101012  50%, #2E2E2E);}


 /**********************BORDURES***************************/
.party_1_presentation, .view_competence_1, .party_1_stage, .party_2_stage  {
border: 2.5px double #101012;
border-bottom: 2.5px double transparent;
border-image: linear-gradient(to top, #181818 ,#A4A4A4);
border-image-slice: 1;
box-shadow: 6px 6px 6px black;}

.party_2_presentation, .view_competence_2 {
border: 2.5px double #101012;
border-bottom: 2.5 double transparent;
border-image: linear-gradient(to right, #181818 ,#A4A4A4);
border-image-slice: 1;
box-shadow: 6px 6px 6px black;}

.party_3_presentation {
border: 2.5px double #101012;
border-bottom: 2.5 double transparent;
border-image: linear-gradient(to left, #181818 ,#A4A4A4);
border-image-slice: 1;
box-shadow: 6px 6px 6px black;}

.quasar-obilog-part2, .hunimalis-part2 { 
border: 2.5px double #101012;
border-bottom: 2.5 double transparent;
border-image: linear-gradient(to bottom, #181818 ,#A4A4A4);
border-image-slice: 1;
box-shadow: 6px 6px 6px black;} 
	
.separate { 
border-bottom: inset 1.5px #9D1212;

 }

/************************MARGE*****************************/
h5, h6 { margin: 0%; padding: 0%;}
img { padding-right: 0.5%; padding-left: 2%}
.tel { margin-left: 4%}
.presentation_in { margin-top: 15%} 
.quality, .visit_card_in {margin-bottom: 2%}

/**********************STYLETEXTE***************************/
.title { 
font-size: 14pt;
text-align: center;
color:#A4A4A4;
position: relative;
top: 40%;}

.title_1 {
text-decoration: none; 
font-size: 14pt;
text-align: center;
color: #BDBDBD;
position: relative;
bottom: 40%;}

.name {  
font-size: 35pt;
color: #BDBDBD;}

.quality, .visit_card_in {  
font-size: 15pt;
color: #A4A4A4;
margin-bottom: 2%}

span  {
text-decoration: none;
font-size: 12.5pt;
text-align: center;
color: #BDBDBD;
}

.title_part { 
text-align: center;
color: #9C0202;
margin-bottom: 1%;}


	/*****************EXPERIENCE*******************/
	/*******************CONTACT********************/
	/****************PRESENTATION******************/

.party_1_presentation { 
text-decoration: none; 
text-align: center; 
font-size: 12.5pt; 
color: #A4A4A4;
overflow: auto;
width: 100%;
height: 45%;
margin: auto;}

.party_2_presentation, .party_3_presentation { 
text-decoration: none; 
text-align: center; 
font-size: 12.5pt; 
color: #A4A4A4;
overflow: auto;	
width: 49%;
height: 50%;
margin: auto;}

	/***************************************/
.view_competence_1 { 
text-decoration: none; 
text-align: center; 
font-size: 12pt; 
color: #A4A4A4;
overflow: auto;
width: 48%;
height: 98%;
margin: auto;}

.view_competence_2 { 
text-align: center; 
font-size: 12pt; 
color: #A4A4A4;
overflow: auto;
width: 48%;
height: 98%;
margin: auto;}	

	/*******************STAGE**********************/
.party_1_stage, .party_3_stage { 
text-decoration: none; 
text-align: center; 
font-size: 12pt; 
color: #A4A4A4;
overflow: auto;
width: 48%;
height: 48%;
margin: auto;}

.party_2_stage, .party_4_stage { 
text-align: center; 
font-size: 12pt; 
color: #A4A4A4;
overflow: auto;
width: 48%;
height: 48%;
margin: auto;}	

/************************ANCRES******************************/
#Next { 
position: absolute; 
top: 70%; 
right: 10%;
width: 20px;}

#Prev { 
position: absolute; 
bottom: 15%; 
left: 10%;
background-color: red;
width: 20px;}

.next, .prev { 
color: #A4A4A4;
font-size: 20pt;
font-weight: bold;}


/***********************FLEXBOX*****************************/
#visit_card { 
width: 27em ;
/*background-color: red;*/}	

#Contact { 
display: flex; 
flex-direction: row;
width: 70em;
}	

#Screen_view_index { 
display: flex;
flex-direction: row;
height: 25em;
width: 50em;
margin: auto;
}

#Screen_view_presentation {  
background-color: #181818;  
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 25em;
width: 50em;
margin: auto;
}

#Screen_view_competence {
background-color: #181818;  
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 25em;
width: 50em;
margin: auto;
}

#Screen_view_stage {  
background-color: #181818;  
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 25em;
width: 50em;
margin: auto;}


/*************************NAVBAR***************************/
#navivigate_bar { 
display: flex;
flex-direction: row;
justify-content: space-between;
margin: auto;
margin-bottom: 5%;
height: 3em;
width: 40em;}

#Button { 
border: 4px double black;
border-radius: 6px 6px 6px 6px;
box-shadow: 7px 7px 7px black;
background: linear-gradient(#181818, #6a6a7c);
text-decoration: none;
margin: auto;
width: 85%;
height: 90%;
margin-left: 0.7%;
margin-right: 0.7%;
transition: all 1s ease-out;
opacity: 0.9}

#Button_1 {
border: 2px double black;
border-radius: 4px 4px 4px 4px;
box-shadow: 4px 4px 4px #181818;
background: linear-gradient(#4656fc, #181818);
width: 100%;
height: 90%;
margin-left: 1%;
margin-right: 1%;
transition: all 1s ease-out;
opacity: 0.9}
 

/****************************IMAGE******************************/
#Photo {
position: absolute;
top: 10%;
right: 10%;}

.photo { 
box-shadow: 7px 7px 7px black;
border-radius: 60px 60px 60px 60px;
opacity: 0.7;
width: 2.3cm;}


	/**********************EXPERIENCE***************************/
.hunimalis, .quasar, .contresens, .cotePlage, .bmb, .isatis { 
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 50px;
width: 300px;
border: outset 2px #b2796e;}


	/***********************OPENCLASS**************************/
#OC {  
height: 130px;
width: 300px;
border: ridge 3px #1e2023;}



	/***********************CONTACT****************************/
.linkedin { 
background-image: url('../images/sprites/linkedin.png');
background-size: cover;}

.cvcertif {
background-image: url('../images/sprites/cvcertif.png');
background-size: cover;}

#html5, #css3 {
background-size: cover;}


		/***********************HEAD****************************/
.tel, .drive, .gmail{
float: left;
width: 1cm;
height: 1cm;
clear: right; 
margin-bottom: 20px;
margin-right: 10px;
background-size: cover;}

/**********************ANNIMATION***************************/ 
a { 
text-decoration: none;
}

	/***********************BOUTTON****************************/ 
#Navbutton:hover, #navbutton1 {     
color: #E0E0F8;
background-color: #CED8F6;
}

			/***********LOADER************/
	/***********************IMAGE*****************************/ 
.linkedin:hover, .gmail:hover, .drive:hover, .tel:hover, .cvcertif:hover {
box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
opacity: 0.5;
transform: translateX(-3px);
-webkit-transform: translateX(-3px);}



				/**********************CONFIGURATION_END*****************************/  
			/**********************CONFIGURATION_END*****************************/      